body{
	margin: 0;
	padding: 0;
}
#intro,#journey{
	margin: 0 auto;
	width: 960px;
	height: 640px;
}
#start{
	color: blue;
	font-size: 50px;
	cursor: pointer;
}
.bg-gra{
   background: -webkit-linear-gradient(top, #003471,#00aeef);
   background: -o-linear-gradient(top, #003471,#00aeef);
}